In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd #digunakan untuk manipulasi data
import numpy as np #digunakan untuk operasi numeris
import matplotlib.pyplot as plt #digunakan untuk visualisasi data
import seaborn as sns #digunakan untuk visualisasi data
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Memuat dataset dan menyimpannya pada dataframe
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Amikom Sehat/stroke.csv')
data

,id,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke
0,77,0,13.0,0,0,0,0,85.81,18.6,0
1,84,1,55.0,0,0,1,1,89.17,31.5,0
2,91,0,42.0,0,0,0,1,98.53,18.5,0
3,99,0,31.0,0,0,0,1,108.89,52.3,0
4,129,0,24.0,0,0,0,1,97.55,26.2,0
...,...,...,...,...,...,...,...,...,...,...
4904,72911,0,57.0,1,0,1,0,129.54,60.9,0
4905,72914,0,19.0,0,0,0,1,90.57,24.2,0
4906,72915,0,45.0,0,0,1,1,172.33,45.3,0
4907,72918,0,53.0,1,0,1,1,62.55,30.3,1
4908,72940,0,2.0,0,0,0,1,102.92,17.6,0

In [ ]:
#menghapus kolom id
data = data.drop(columns='id', axis=1)
data

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke
0,0,13.0,0,0,0,0,85.81,18.6,0
1,1,55.0,0,0,1,1,89.17,31.5,0
2,0,42.0,0,0,0,1,98.53,18.5,0
3,0,31.0,0,0,0,1,108.89,52.3,0
4,0,24.0,0,0,0,1,97.55,26.2,0
...,...,...,...,...,...,...,...,...,...
4904,0,57.0,1,0,1,0,129.54,60.9,0
4905,0,19.0,0,0,0,1,90.57,24.2,0
4906,0,45.0,0,0,1,1,172.33,45.3,0
4907,0,53.0,1,0,1,1,62.55,30.3,1
4908,0,2.0,0,0,0,1,102.92,17.6,0

In [ ]:
#mengetahui jumlah baris dan kolom
data.shape

(4909, 9)

In [ ]:
#mengetahui info data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4909 entries, 0 to 4908
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   int64
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   int64
 5   Residence_type     4909 non-null   int64
 6   avg_glucose_level  4909 non-null   float64
 7   bmi                4909 non-null   float64
 8   stroke             4909 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 345.3 KB

In [ ]:
#cek apakah ada data kosong
data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
Residence_type       0
avg_glucose_level    0
bmi                  0
stroke               0
dtype: int64

In [ ]:
#melihat statistik data
data.describe()

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke
count,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000
mean,0.409656,42.865374,0.091872,0.049501,0.652679,0.507232,105.305150,28.893237,0.042575
std,0.491820,22.555115,0.288875,0.216934,0.476167,0.499999,44.424341,7.854067,0.201917
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,77.070000,23.500000,0.000000
50%,0.000000,44.000000,0.000000,0.000000,1.000000,1.000000,91.680000,28.100000,0.000000
75%,1.000000,60.000000,0.000000,0.000000,1.000000,1.000000,113.570000,33.100000,0.000000
max,1.000000,82.000000,1.000000,1.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
# memeriksa distribusi data Variabel Stroke ( 1 : Stroke , 0 : Sehat )
data['stroke'].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

In [ ]:
#X : data selain kolom stroke
X = data.drop(columns='stroke', axis=1)

#Y : data kolom stroke
Y = data['stroke']

In [ ]:
X

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi
0,0,13.0,0,0,0,0,85.81,18.6
1,1,55.0,0,0,1,1,89.17,31.5
2,0,42.0,0,0,0,1,98.53,18.5
3,0,31.0,0,0,0,1,108.89,52.3
4,0,24.0,0,0,0,1,97.55,26.2
...,...,...,...,...,...,...,...,...
4904,0,57.0,1,0,1,0,129.54,60.9
4905,0,19.0,0,0,0,1,90.57,24.2
4906,0,45.0,0,0,1,1,172.33,45.3
4907,0,53.0,1,0,1,1,62.55,30.3
4908,0,2.0,0,0,0,1,102.92,17.6

In [ ]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
4904    0
4905    0
4906    0
4907    1
4908    0
Name: stroke, Length: 4909, dtype: int64

In [ ]:
#memisahkan data mejadi data training dan data test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=2)

In [ ]:
#menampilkan data
print(X.shape, X_train.shape, X_test.shape, Y.shape, Y_train.shape, Y_test.shape)

(4909, 8) (4418, 8) (491, 8) (4909,) (4418,) (491,)

In [ ]:
#Menggunakan model logika regressi
model = LogisticRegression()

In [ ]:
#Training model logika regressi dengan data training
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
# Acurracy pada data training

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
input_data = (0,74,0,0,1,1,74.96,26.6)

#mennganti input data menjadi numpy array
input_data_array = np.array(input_data)

#
input_data_reshape = input_data_array.reshape(1,-1)

prediksi = model.predict(input_data_reshape)
print(prediksi)

if (prediksi[0]==0):
  print('Anda tidak mempunyai penyakit Stroke')
else:
  print('Anda mempunyai penyakit Stroke')

[0]
Anda tidak mempunyai penyakit Stroke

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
import pickle
filename = 'model_stroke.pkl'
pickle.dump(model, open(filename, 'wb'))